    /*
    Flaticon icon font: Flaticon
    Creation date: 07/08/2016 07:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-construction:before { content: "\f100"; }
.flaticon-cross:before { content: "\f101"; }
.flaticon-cut:before { content: "\f102"; }
.flaticon-garden:before { content: "\f103"; }
.flaticon-machine:before { content: "\f104"; }
.flaticon-nature:before { content: "\f105"; }
.flaticon-nature-10:before { content: "\f106"; }
.flaticon-nature-12:before { content: "\f107"; }
.flaticon-nature-13:before { content: "\f108"; }
.flaticon-nature-3:before { content: "\f109"; }
.flaticon-nature-4:before { content: "\f10a"; }
.flaticon-nature-5:before { content: "\f10b"; }
.flaticon-nature-6:before { content: "\f10c"; }
.flaticon-nature-7:before { content: "\f10d"; }
.flaticon-nature-8:before { content: "\f10e"; }
.flaticon-nature-9:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-plant:before { content: "\f112"; }
.flaticon-plant-1:before { content: "\f113"; }
.flaticon-plant-2:before { content: "\f114"; }
.flaticon-scissors:before { content: "\f115"; }
.flaticon-shovel:before { content: "\f116"; }
.flaticon-technology:before { content: "\f117"; }
.flaticon-tool:before { content: "\f118"; }
.flaticon-tools:before { content: "\f119"; }
.flaticon-work:before { content: "\f11a"; }
    
    $font-Flaticon-construction: "\f100";
    $font-Flaticon-cross: "\f101";
    $font-Flaticon-cut: "\f102";
    $font-Flaticon-garden: "\f103";
    $font-Flaticon-machine: "\f104";
    $font-Flaticon-nature: "\f105";
    $font-Flaticon-nature-10: "\f106";
    $font-Flaticon-nature-12: "\f107";
    $font-Flaticon-nature-13: "\f108";
    $font-Flaticon-nature-3: "\f109";
    $font-Flaticon-nature-4: "\f10a";
    $font-Flaticon-nature-5: "\f10b";
    $font-Flaticon-nature-6: "\f10c";
    $font-Flaticon-nature-7: "\f10d";
    $font-Flaticon-nature-8: "\f10e";
    $font-Flaticon-nature-9: "\f10f";
    $font-Flaticon-people: "\f110";
    $font-Flaticon-people-1: "\f111";
    $font-Flaticon-plant: "\f112";
    $font-Flaticon-plant-1: "\f113";
    $font-Flaticon-plant-2: "\f114";
    $font-Flaticon-scissors: "\f115";
    $font-Flaticon-shovel: "\f116";
    $font-Flaticon-technology: "\f117";
    $font-Flaticon-tool: "\f118";
    $font-Flaticon-tools: "\f119";
    $font-Flaticon-work: "\f11a";